{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Contact Us
{% endblock %}

{% block content %}

<!-- Heading -->

<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Contact Us</h1>
            <br>
            <h3>Have Questions? Contact Us Below:</h3>
        </div>
    </div>
</div>

<!-- Contact Form -->

<!-- <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-2 bg-primary mt-4 mb-4">
            <h5 class="mt-4 text-white">Contact Details</h5>
            <br>
            <ul class="list-unstyled pt-1">                  
                <li class="p-1">
                    <a href="mailto:info@myairbnbcollective.com" class="text-white"><i class="fa-regular fa-envelope"></i> info@myairbnbcollective.com</a>
                </li>
                <br>
                <li class="p-1">
                    <a href="tel:080080808" class="text-white"><i class="fa-solid fa-phone"></i> 0800 80808</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 pl-0">
            <div class="card mt-4 mb-4">
                <div class="card-body bg-light">
                    <form>
                        <div class="form-group">
                            <label for="emailAddress">Email address</label>
                            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email*" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Full Name*" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="4" placeholder="Please write your message here*" required></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="col-lg-5 pl-0 mx-auto">
    <div class="card mt-4 mb-4">
        <div class="card-body bg-light">
            {% csrf_token %}
            <form action="/contact/" method="post">
            {% csrf_token %}
                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% block postloadjs %}

{% endblock %}
{% endblock %}