{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Contact Us
{% endblock %}

{% block content %}

<!-- Heading -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Contact Us</h1>
            <br>
            <h3>Have Questions? Contact Us Below:</h3>
        </div>
    </div>
</div>


<div class="col-lg-6 col-10 pl-0 mx-auto">
    <div class="card mt-4 mb-4">
        <div class="card-body bg-light">
            {% csrf_token %}
            <form action="/contact/" method="post">
            {% csrf_token %}
                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% block postloadjs %}

{% endblock %}
{% endblock %}