<script type="text/javascript">

    // Allow user to choose a start date and end date for date picker, and highlight dates chosen

  $(function() {
    $('#id_date_range').daterangepicker({
      autoUpdateInput: false,
      showDropdowns: true,
      locale: {
        cancelLabel: 'Clear'
      }
    });

    $('#id_date_range').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD MMM YYYY') + ' - ' + picker.endDate.format('DD MMM YYYY'));
    });

    $('#id_date_range').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });
  });
    
</script>