<script>
    $(function() {
        var excludedDates = []; // Array of excluded dates fetched from the server

        // Fetch excluded dates from the server
        $.getJSON("{% url 'booked_dates' property.id %}", function(data) {
            excludedDates = data.excluded_dates;
            initializeDatePicker();
        });

        function initializeDatePicker() {
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                minDate: 0,
                beforeShowDay: function(date) {
                    var dateString = $.datepicker.formatDate('yy-mm-dd', date);
                    if (excludedDates.indexOf(dateString) !== -1) {
                        return [false, 'ui-state-disabled', 'Date Unavailable'];
                    } else {
                        return [true, '', 'Available'];
                    }
                }
            });

            $('#checkIn').datepicker({
                onSelect: function(selectedDate) {
                    $('#checkIn').datepicker('option', 'minDate', selectedDate || 0);
                    $('#checkOut').datepicker('option', 'minDate', selectedDate || 0);
                }
            });

            $('#checkOut').datepicker({
                onSelect: function(selectedDate) {
                    $('#checkOut').datepicker('option', 'maxDate', selectedDate);
                }
            });
        }
    });
</script>