<script>
    $(function() {
        var initialDateRange = "{{ date_range }}";
        var excludedDates = []; // Array of excluded dates fetched from the server
    
        // Fetch excluded dates from the server
        $.getJSON("{% url 'booked_dates' property.id %}", function(data) {
            excludedDates = data.excluded_dates;
            initializeDateRangePicker();
        });
    
        function initializeDateRangePicker() {
            $('#id_date_range').daterangepicker({
                autoUpdateInput: false,
                showDropdowns: true,
                minDate: moment().startOf('day'),
                locale: {
                    format: 'DD MMM YYYY',
                    cancelLabel: 'Clear'
                },
                isInvalidDate: function(date) {
                    var dateString = date.format('YYYY-MM-DD');
                    return excludedDates.includes(dateString);
                },
                // Custom styling to highlight booked dates
                isInvalidDate: function(date) {
                    var dateString = date.format('YYYY-MM-DD');
                    return excludedDates.includes(dateString);
                }
            });
    
            // Set initial value if date range is provided
            if (initialDateRange) {
                var dates = initialDateRange.split(' - ');
                $('#id_date_range').data('daterangepicker').setStartDate(moment(dates[0], 'DD MMM YYYY'));
                $('#id_date_range').data('daterangepicker').setEndDate(moment(dates[1], 'DD MMM YYYY'));
                $('#id_date_range').val(initialDateRange);
            }
    
            $('#id_date_range').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD MMM YYYY') + ' - ' + picker.endDate.format('DD MMM YYYY'));
            });
    
            $('#id_date_range').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        }
    });
</script>
