{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
| Edit {{ property.name }}, {{ property.location }}
{% endblock %}

{% block content %}

<!-- Properties section -->

<div class="container">
    <div class="row">
        <div class="col pt-4">
            <h1 class="text-center">Manage Property</h1>
            <h2 class="text-center">{{ property.name}}- {{ property.location }}</h2>
            {% if property.image %}
                <a href="{% url 'property_details' property.id %}">
                    <img class="card-img-top img-fluid m-2 img-thumbnail" src="{{ property.image.url }}" alt="Card image cap">
                </a>
            {% endif %}
            <br>
            <hr>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-6">
            <form method="POST" action="{% url 'edit_property' property.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field|as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Update Property</button>
                    <a class="btn btn-secondary" href="{% url 'properties' %}">Cancel</a>
                </div>
            </form>
        </div>            
    </div>
</div>


{% block postloadjs %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}
{% include 'properties/includes/date_picker_script.html' %}
{% endblock %}