{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
| Edit {{ property.name }}, {{ property.location }}
{% endblock %}

{% block content %}

<!-- Properties section -->

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col pt-4">
            <h1 class="text-center">Manage Property</h1>
            <h2 class="text-center">{{ property.name}}- {{ property.location }}</h2>
        </div>
    </div>

    <div class="row">
        {% if property.image %}
            <div class="col-4">
                <a href="{% url 'property_details' property.id %}">
                    <img class="card-img-top img-fluid m-2 img-thumbnail" src="{{ property.image.url }}" alt="{{ property.name }} Exterior">
                </a>
                <p class="text-center">{{ property.name }} Exterior</p>
            </div>
        {% endif %}
        {% if property.image_kitchen %}
            <div class="col-4">
                <a href="{% url 'property_details' property.id %}">
                    <img class="card-img-top img-fluid m-2 img-thumbnail" src="{{ property.image_kitchen.url }}" alt="{{ property.name }} Kitchen">
                </a>
                <p class="text-center">{{ property.name }} Kitchen</p>
            </div>
        {% endif %}
        {% if property.image_kitchen %}
            <div class="col-4">
                <a href="{% url 'property_details' property.id %}">
                    <img class="card-img-top img-fluid m-2 img-thumbnail" src="{{ property.image_bathroom.url }}" alt="{{ property.name }} Bathroom">
                </a>
                <p class="text-center">{{ property.name }} Bathroom</p>
            </div>
        {% endif %}
        <br>
        <hr>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-6">
                <form method="POST" action="{% url 'edit_property' property.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' and field.name != 'image_kitchen' and field.name != 'image_bathroom' and field.name != 'total_days' and field.name != 'guest_count' %}
                            {{ field|as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <p><strong>Please rename in format: name-exterior eg. treehouse-exterior</strong></p>
                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <p><strong>Please rename in format: name-kitchen eg. treehouse-kitchen</strong></p>
                        {{ form.image_kitchen|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <p><strong>Please rename in format: name-bathroom eg. treehouse-bathroom</strong></p>
                        {{ form.image_bathroom|as_crispy_field }}
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">Update Property</button>
                        <a class="btn btn-secondary" href="{% url 'properties' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>


{% block postloadjs %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}
{% include 'includes/date_picker_script.html' %}
{% endblock %}