{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Properties section -->

  <div class="container">
    <div class="row">
      <div class="col pt-4">
        <h1 class="text-center">See Our Properties Below</h1>
        <br>
        <hr>
      </div>
    </div>
  </div>

  <div class="container-fluid"></div>
    <div class="row">
      {% for property in properties %}
      <div class="card col-3 mb-4">
        {% if property.image %}
          <img class="card-img-top img-fluid img-card mt-4" src="{{ property.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.name }}</h5>
          <p class="card-text">{{ property.description }}</p>
          <p class="card-text"><strong>Location: </strong>{{ property.location }}</p>
          <p class="card-text"><strong>Price per night: </strong>£{{ property.price_per_night }}</p>
          <p class="card-text"><strong>Bedrooms: </strong>{{ property.bedrooms }}</p>
          <a href="#" class="btn btn-primary">Find Out More</a>
          {% if request.user.is_superuser %}
            <div class="mt-2">
              <a href="#" class="btn btn-success btn-sm" role="button" aria-disabled="true">Edit</a>
              <a href="#" class="btn btn-danger btn-sm" role="button" aria-disabled="true">Delete</a>
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>


{% block postloadjs %}
{% endblock %}
{% endblock %}