{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Properties section -->

  <div class="container">
    <div class="row">
      <div class="col pt-4">
        <h1 class="text-center">{{ property.name}}- {{ property.location }}</h1>
        <br>
        <hr>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-6">
            {% if property.image %}
                <a href="{% url 'property_details' property.id %}">
                    <img class="card-img-top img-fluid m-2" src="{{ property.image.url }}" alt="Card image cap">
                </a>
            {% endif %}
        </div>
        <div class="col-4">
            <h5>{{ property.name }}</h5>
            <br>
            <p class="">{{ property.description }}</p>
          <p class=""><strong>Location: </strong>{{ property.location }}</p>
          <p class=""><strong>Price per night: </strong>£{{ property.price_per_night }}</p>
          <p class=""><strong>Bedrooms: </strong>{{ property.bedrooms }}</p>
          <a href="#" class="btn btn-primary">Make A Booking</a>
          {% if request.user.is_superuser %}
            <div class="mt-2">
              <a href="#" class="btn btn-success btn-sm" role="button" aria-disabled="true">Edit</a>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ property.id }}">
                Delete
              </button>
              <!-- Delete Modal -->
              <div class="modal fade" id="deleteModal-{{ property.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this property?
                        </div>
                        <div class="modal-footer">
                          <a href="{% url 'delete_property' property.id %}" class="btn btn-danger">Delete</a>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                        
                      </div>
                    </div>
                </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>

    <!-- lightbox photos below main image -->    

    <!-- Property description section -->
    <div class="container-fluid">
    <hr>
     <div class="row">
        <div class="col-lg-8">
            {% if property.full_description %}
            <br>
                <h5>Description</h5>
            <br>
                <p>{{ property.full_description }}</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <br>
            <h5>Facilities</h5>
            <br>
            <ul class="list-unstyled">
                {% if property.has_wifi == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-wifi text-primary"></i>
                        <strong> Wifi Included</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-xmark text-danger"></i>
                        <strong> No Wifi Included</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.has_parking == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-car text-primary"></i>
                        <strong> Car Parking OnSite</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-xmark text-danger"></i>
                        <strong class="text-danger"> No Parking OnSite</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.non_smoking == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-ban-smoking text-primary"></i>
                        <strong> Non Smoking Property</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-check text-primary"></i>
                        <strong class="text-danger"> Smoking Allowed</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.distance_to_airport %}
                <li>
                    <span>
                        <i class="fa-solid fa-plane text-primary"></i>
                        <strong> {{ property.distance_to_airport }} miles to nearest airport (add transport at checkout)</strong>
                        
                    </span>
                </li>
                {% endif %}
            </ul>
        </div>
     </div>
  </div>
</div>


{% block postloadjs %}
{% endblock %}
{% endblock %}