{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'airbnb_properties/css/properties.css' %}">
{% endblock %}

{% block extra_title %}
| {{ property.name }} Details
{% endblock %}

{% block content %}

<!-- Properties section -->

  <div class="container">
    <div class="row">
      <div class="col pt-4">
        <h1 class="text-center">{{ property.name}}- {{ property.location }}</h1>
        <br>
        <hr>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 m-4">
            <div class="col-12">
                {% if property.image %}
                    <img id="mainImage" src="{{ property.image.url }}" onclick="openLightbox();toSlide(1)" 
                        class="hover-shadow preview property-details-img img-fluid m-2" alt="{{ property.name }}" title="{{ property.name }} exterior, {{ property.location }}">
                {% endif %}
            </div>
            <div class="row px-3">
                <div class="col-6">
                    {% if property.image_kitchen %}
                        <img id="image2" src="{{ property.image_kitchen.url }}" onclick="openLightbox();toSlide(2)" 
                            class="hover-shadow preview property-details-img img-fluid img-card m-2" alt="{{ property.name }}" title="{{ property.name }} kitchen, {{ property.location }}">
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if property.image_bathroom %}
                        <img id="image3" src="{{ property.image_bathroom.url }}" onclick="openLightbox();toSlide(3)" 
                            class="hover-shadow preview property-details-img img-fluid img-card m-2" alt="{{ property.name }}" title="{{ property.name }} bathroom, {{ property.location }}">
                    {% endif %}
                </div>
            </div>
        </div>
    
        <div class="row justify-content-around">
            <div class="col-12 m-4">
                <h3 class="font-weight-bold">{{ property.name }}, {{ property.location }}</h3>
                <br>
                <p class="">{{ property.description }}</p>
            <p class=""><strong>Location: </strong>{{ property.location }}</p>
            <p class=""><strong>Price per night: </strong>£{{ property.price_per_night }}</p>
            <p class=""><strong>Bedrooms: </strong>{{ property.bedrooms }}</p>
            <hr>
            <!-- Date Picker for Booking -->
            <h5>Choose Dates</h5>
                <br>
                <form class="form" action="{% url 'cart_add' property.id %}" method="POST">
                    {% csrf_token %}
                    <label for="id_date_range">Date Range:</label>
                    <input type="text" name="date_range" id="id_date_range" autocomplete="off">
                    <input type="hidden" name="property_id" value="{{ property.id }}">
                    <input type="hidden" name="total_days" value="{{ total_days }}">
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">Go To Checkout</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                
            {% if request.user.is_superuser %}
                <div class="mt-2">
                <a href="{% url 'edit_property' property.id %}" class="btn btn-success btn-sm" role="button" aria-disabled="true">Edit</a>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ property.id }}">
                    Delete
                </button>
                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal-{{ property.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this property?
                            </div>
                            <div class="modal-footer">
                            <a href="{% url 'delete_property' property.id %}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>                        
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>

    <!-- Property description section -->
    <div class="container-fluid">
    <hr>
     <div class="row">
        <div class="col-lg-8">
            {% if property.full_description %}
            <br>
                <h5>Description</h5>
            <br>
                <p>{{ property.full_description }}</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <br>
            <h5>Facilities</h5>
            <br>
            <ul class="list-unstyled">
                {% if property.has_wifi == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-wifi text-primary"></i>
                        <strong> Wifi Included</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-xmark text-danger"></i>
                        <strong> No Wifi Included</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.has_parking == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-car text-primary"></i>
                        <strong> Car Parking OnSite</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-xmark text-danger"></i>
                        <strong class="text-danger"> No Parking OnSite</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.non_smoking == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-ban-smoking text-primary"></i>
                        <strong> Non Smoking Property</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-check text-primary"></i>
                        <strong class="text-danger"> Smoking Allowed</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.pet_friendly == True %}
                <li>
                    <span>
                        <i class="fa-solid fa-dog text-primary"></i></i>
                        <strong> Pet Friendly</strong>
                    </span>
                </li>
                {% else %}
                <li>
                    <span>
                        <i class="fa-solid fa-xmark text-danger"></i>
                        <strong class="text-danger"> No Pets Allowed</strong>
                    </span>
                </li>
                {% endif %}
                <br>
                {% if property.distance_to_airport %}
                <li>
                    <span>
                        <i class="fa-solid fa-plane text-primary"></i>
                        <strong> {{ property.distance_to_airport }} miles to nearest airport (add transport at checkout)</strong>
                        
                    </span>
                </li>
                {% endif %}
            </ul>
        </div>
     </div>
  </div>
</div>

{% include 'includes/lightbox_modal.html' %}

{% block postloadjs %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


{% endblock %}
{% include 'includes/lightbox_script.html' %}
{% include 'includes/date_picker_script.html' %}
{% endblock %}