{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
| Checkout Completed
{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <h1>Thankyou For Your Order</h1>
                <br>
                <p>Your order information is below. A confirmation email will be sent to {{ order.email }} shortly</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-lg-6">
                <h3>Order Details</h3>
                <br>
                <p><strong>Your order number is: </strong>{{ order.order_number }}</p>
                <br>
                <h4><strong>Your Booking</strong></h4>
                {% for item in order.lineitems.all %}
                    <div class="container-fluid checkout-success-item m-4 bg-light">
                        <div class="row cart-container">
                            <div class="col-12 col-lg-4 cart-item m-lg-4 mt-sm-4">
                                <img class="img-fluid" src="{{item.property.image.url}}" alt="{{item.property.name}}, {{ item.property.location }}">
                            </div>
                            <div class="col-12 col-lg-6">
                                <br>
                                <p><strong>Property Name: </strong>{{ item.property.name }}</p>
                                <p><strong>Location : </strong>{{ item.property.location }}</p>
                                <p><strong>Amount of Bedrooms : </strong>{{ item.property.bedrooms }}</p>
                                <p><strong>Date Range : </strong>{{ item.date_range }}</p>
                                <p><strong>Number Of Nights : </strong>{{ item.total_days }}</p>
                                <p><strong>Price Per Night : </strong>£{{ item.property.price_per_night | floatformat:2 }}</p>
                                {% if item.taxi_price %}
                                    <p><strong>Taxi added to your order. Taxi Price : </strong>£{{ item.taxi_price }}</p>
                                {% endif %}
                                <p><strong>Subtotal : </strong>£{{ item.lineitem_total | floatformat:2 }}</p>
                            </div>                                
                        </div>
                    </div>
                {% endfor %}
                <p><i class="fa-regular fa-credit-card text-primary ml-4"></i><strong> The total charged to your card is: </strong>£{{ order.grand_total }}</p>
                <br>
                <h4>Your Details</h4>
                <br>
                <div class="container-fluid checkout-success-item m-4 bg-light">
                    <div class="row m-4 p-4 bg-light">
                        <div class="col-12 col-lg-6 small">
                            <h5>Personal Details</h5>
                            <br>
                            <p><strong>Name: </strong>{{order.full_name}}</p>
                            <p><strong>Phone Number: </strong>{{order.phone_number}}</p>
                            <br>
                        </div>
                        <div class="col-12 col-lg-6 small">
                            <h5>Address</h5>
                            <br>
                            <p><strong>Street Address 1: </strong><span class="text-right">{% if order.street_address1 %}{{ order.street_address1 }}{% else %} N/A{% endif %}</p>
                            <p><strong>Street Address 2: </strong>{% if order.street_address2 %}{{ order.street_address2 }}{% else %} N/A{% endif %}</p>
                            <p><strong>Town Or City: </strong>{% if order.town_or_city %}{{ order.town_or_city }}{% else %} N/A{% endif %}</p>
                            <p><strong>Postcode: </strong><span class="text-uppercase">{% if order.postcode %}{{ order.postcode }}{% else %} N/A{% endif %}</span></p>
                            <p><strong>County: </strong>{% if order.county %}{{ order.county }}{% else %} N/A{% endif %}</p>
                            <p><strong>Country: </strong>{% if order.country %}{{ order.country }}{% else %} N/A{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 m-4">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-primary">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <span>View Profile</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}