.cart_item {
    font-size: 60px;
}


.cart-container {
    border-style: groove;
    border-radius: 10px;
}

.taxi-section {
    border-left: 2px solid #c8c8c8;
}

/* Breakpoints */

@media (max-width: 480px) {

    h3 {
        margin-top: 10px;
    }

    p {
        font-size: 12px;
    }

    button {
        margin-top: 10px;
    }
    .row {
        margin: 0;
    }

    .taxi-section {
        border-left: 0px solid !important;
    }

    .property-details {
        margin-bottom: 0px !important;
    }

    .cart-container {
        border-style: none;
        border-bottom: 1px solid #000;
        border-radius: 0px;
    }
}

@media (max-width: 992px) {
    .edit-button {
        margin-bottom: 5px !important;
    }
    .taxi-section {
        border-left: 0;
    }
}