@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Main */

html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  bottom: 0;
  left: 0;
}



.overlay {
	min-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.no-permission {
  height: 60vh !important;
}

.wrapper {
  overflow:auto;
  padding-bottom: 200px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation */

.nav-link {
  color: blue !important;
}

.nav-link:hover {
  color: darkblue !important;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.search-button {
  height: 100%;
  margin: 0;
}

.custom-toast {
    overflow: visible;
    background-color: #fff;
}

.toast-capper {
    height: 2px;
}

/* Carousel - Home page */

.carousel h2 {
    position: absolute;
    z-index: 3;
    background-color: rgb(255, 255, 255, 0.6);;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    height: 10rem;
    width: 40rem;
    align-content: center;
}

.slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .drk:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

.carousel-inner {
    height: 500px;
}

/* Shopping cart icon */


.shopping-bag {
  font-size: 25px;
}

.cart-full {
  color: green;
}

.container {
  word-wrap: break-word;
}

/* Media Queries */

@media (max-width: 480px) {
    .footer-links a {
        text-align: center;
    }
    .img-card {
        height: auto;
    }
    #Lightbox {
        padding: 0;
        padding-top: 200px;
        width: 100%;
        margin-top: 60px;
    }
    .modal-content {
        width: 100%;
    }
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }
    .modal-header .close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 1051;
    }
    #image2, #image3 {
      margin-top: 20px;
    }
    .border-left {
      border-left: 0px solid !important;
    }
    
    .border-right {
      border-right: 0px solid !important;
    }
    .carousel-inner {
      height: auto;
    }
    h2 {
      font-size: 1.5rem;
    }
    .carousel h2 {
      height: 50%;
      width: 80%;
  }
}