.carousel h2 {
    position: absolute;
    z-index: 3; /* To appear above the slides */
    background-color: rgb(255, 255, 255, 0.6);;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts the position of the text to ensure it's in the center */
    text-align: center; /* Centers the text horizontally */
    height: 10rem;
    width: 40rem;
    align-content: center;
}

.slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .drk:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

.carousel-inner {
    height: 500px;
}


.shopping-bag {
  font-size: 25px;
}

.cart-full {
  color: green;
}


/* Properties html */

.img-card {
  height: 230px;
  width: 400px;
  align-self: center;
}

.property-img {
  transition: transform 0.2s ease-in-out;
}

.property-img:hover {
  transform: scale(1.05);
}

.box-shadow-footer {
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
  margin-top:10px;
  background-color:white;
}

.box-shadow-header {
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 6px -6px;
  margin-bottom: 10px;
  background-color: white;
}

input#id_date_range {
  width: 250px !important;
}
