html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  overflow:auto;
  padding-bottom: 200px;
}

footer {
  margin-top: auto;
  bottom: 0;
  left: 0;
}

.nav-link {
  color: blue !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    background-color: #fff;
}

.toast-capper {
    height: 2px;
}

.carousel h2 {
    position: absolute;
    z-index: 3; /* To appear above the slides */
    background-color: rgb(255, 255, 255, 0.6);;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts the position of the text to ensure it's in the center */
    text-align: center; /* Centers the text horizontally */
    height: 10rem;
    width: 40rem;
    align-content: center;
}

.slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .drk:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

.carousel-inner {
    height: 500px;
}


.shopping-bag {
  font-size: 25px;
}

.cart-full {
  color: green;
}

/* Properties html */

.img-card {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.property-img {
  transition: transform 0.2s ease-in-out;
}

.property-img:hover {
  transform: scale(1.05);
}

.box-shadow-footer {
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
  margin-top:10px;
  background-color:white;
}

.box-shadow-header {
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 6px -6px;
  margin-bottom: 10px;
  background-color: white;
}

input#id_date_range {
  width: 250px !important;
}

/* Property Details */

img.property-details-img:hover {
  cursor: zoom-in;
}


/* Media Queries */

@media (max-width: 480px) {
    .footer-links a {
        text-align: center;
    }
    .img-card {
        height: auto;
    }
    #Lightbox {
        padding: 0;
        padding-top: 300px;
        width: 100%;
        margin-top: 60px;
    }
    .modal-content {
        width: 100%;
    }
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }
    .modal-header .close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 1051;
    }
    #image2, #image3 {
      margin-top: 20px;
    }
}