<footer class="box-shadow-footer">
    <div class="container-fluid bg-light p-4">
        <div class="row">
            <div class="col-4">
                <h3 class="text-center"><strong>My</strong> AirBnb Collective</h3>
                <br>
                <h5 class="text-center">Explore</h5>
                <ul class="list-unstyled pl-4 pt-1">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'properties' %}">Properties</a></li>
                    <li><a href="{% url 'faqs' %}">FAQs</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">My Profile</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-4 border-right border-left border-dark">
                <h3 class="text-center">Social Media</h3>
                <br>
                <h5 class="text-center">Find Us On:</h5>
                <ul class="list-unstyled pl-4 pt-1">
                    <li class="p-1">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
                    </li>
                    <li class="p-1">
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
                    </li>
                    <li class="p-1">
                        <a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i> X / Twitter</a>
                    </li>

                </ul>
            </div><div class="col-4">
                <h3 class="text-center">Contact Us</h3>
                <br>
                    <h5 class="text-center">Have questions? Contact us at:</h5>
                <ul class="list-unstyled pl-4 pt-1">                  
                    <li class="p-1">
                        <a href="mailto:info@myairbnbcollective.com"><i class="fa-regular fa-envelope"></i> info@myairbnbcollective.com</a>
                    </li>
                    <li class="p-1">
                        <a href="tel:080080808"><i class="fa-solid fa-phone"></i> 0800 80808</a>
                    </li>
                    <li class="p-1">
                        <a href="{% url 'contact' %}"><i class="fa-regular fa-clipboard"></i> Contact Form</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                © <script>document.write(new Date().getFullYear())</script> My AirBnb Collective
            </div>
        </div>
    </div>
</footer>