
    <div id="topnav" class="row d-flex mb-3 pt-2 align-items-center">
        <div class="col-12 col-lg-4 my-auto text-center text-lg-left p-2">
            <a href="{% url 'home' %}" class="nav-link main-logo-link navbar-brand">
                <h2 class="text-dark"><strong>My</strong> AirBnb Collective</h2>
            </a>
        </div>
        <div class="col-12 col-lg-8">
            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'properties' %}">Properties</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}">FAQs</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Account
                            </a>
                            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'properties' %}">Manage Properties</a>
                                        <a class="dropdown-item" href="{% url 'add_property' %}">Add Property</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                        <li class="nav-item shopping-bag">
                            <a class="nav-link" href="{% url 'cart' %}" aria-label="Shopping Cart">
                                {% if cart_items %}
                                    <i class="fa-solid fa-cart-shopping cart-full"></i>
                                {% else %}
                                    <i class="fa-solid fa-cart-shopping"></i>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 mb-4 col-10">
            <form method="GET" action="{% url 'properties' %}">
                <div class="input-group w-60">
                    <input class="form-control border" type="text" name="q" placeholder="Search Our Site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-primary search-button" type="submit" aria-label="Search Our Site">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>   
        {% if filtered %}
        <div class="col text-center mb-4">
            <form method="GET" action="{% url 'properties' %}">
                <button class="btn btn-primary" type="submit">Reset Search</button>
            </form>
        </div>
        {% endif %}
        <div class="col-1 d-sm-block d-md-block d-lg-none">
            <div class="nav-item shopping-bag">
                <a class="nav-link" href="{% url 'cart' %}" aria-label="Shopping Cart">
                    {% if cart_items %}
                        <i class="fa-solid fa-cart-shopping cart-full"></i>
                    {% else %}
                        <i class="fa-solid fa-cart-shopping"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>