{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Cart Summary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12"> 
            <h3>Information</h3>
        </div>
        {% if cart_items %}
            {% for item in cart_items %}
            <div class="col-6 cart-item">
                <p>Property : {{ item.property.name }}</p>
                <p>Location : {{ item.property.location }}</p>
                <p>Date Range : {{ item.date_range }}</p>
                <p>Amount Of Days : {{ item.days }}</p>
            {% endfor %}
        {% else %}
                <p>Your cart is empty</p>
                <a href="{% url 'properties' %}">
                    <span>
                        <i class="fa-solid fa-arrow-left"></i>
                    </span>
                    <span>Back to properties</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>


{% block postloadjs %}

{% endblock %}
{% endblock %}