{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Frequently Asked Questions
{% endblock %}

{% block content %}

<!-- Properties section -->

<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col pt-4">
      <h1 class="text-center">Frequently Asked Questions</h1>
      <br>
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center mb-4">
        {% for faq in faqs %}
        <div class="card col-10 bg-light mb-2">
            <div class="card-body">
                <h5 class="card-title text-center">{{ faq.question }}</h5>
                <p class="card-text text-center text-md-left">{{ faq.answer }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% block postloadjs %}
{% endblock %}
{% endblock %}