{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie-edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/e46a729e48.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!--Stripe-->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        <link rel="shortcut icon" type="favicon" href="{{ MEDIA_URL }}favicon.ico" >
        <title>My AirBnB Collective {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        
        <!-- Show header/ navbar section -->
        <header class="container-fluid sticky-top bg-light box-shadow-header">
            {% include 'includes/header.html' %}
            <div class="row justify-content-center">
                <div class="col-4 mb-4">
                    <form method="GET" action="{% url 'properties' %}">
                        <div class="input-group w-60">
                            <input class="form-control border" type="text" name="q" placeholder="Search Our Site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-primary" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>  
            {% if filtered %}
            <div class="col text-center mb-4">
                <form method="GET" action="{% url 'properties' %}">
                    <button class="btn btn-primary" type="submit">Reset Search</button>
                </form>
            </div>
                {% endif %}
        </header>

        <!-- Show toast messages -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        
        <!-- Footer -->

        {% include 'includes/footer.html' %}
        
        {% block postloadjs %}
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}
    </body>
</html>