<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-white text-black py-1">Your Cart</p>
            <div class="bag-notification-wrapper">
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if item.property.image %}
                            <img class="w-100" src="{{ item.property.image.url }}" alt="{{ item.property.name }}">
                            {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.property.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0 small"><strong>Name: {{ item.property.name }}</strong></p>
                            <p class="my-0 small"><strong>Date Range: {{ item.date_range }}</strong></p>
                            <p class="my-0 small"><strong>Total Days: {{ item.total_days }}</strong></p>
                            {% if total_days > discount_threshold %}
                                <br>
                                <p class="text-uppercase"><strong>10% Discount added!</strong></p>
                                <p><strong>You've received <span class="text-danger">£{{ discount_amount | floatformat:2 }}</span> off your order!</strong></p>
                            <p class="my-0 small"><strong>Property Total (Discount applied): £{{ item.property_total | floatformat:2 }}</strong></p>
                            {% else %}
                                <p class="my-0 small"><strong>Property Total: £{{ item.property_total | floatformat:2 }}</strong></p>
                                <p><strong>Book just {{ discount_delta }} more {% if discount_delta < 2 %}day {% else %}days {% endif %}to receive a 10% discount on your property order!</strong></p>
                            {% endif %}
                            <br>
                            {% if item.taxi_price %}
                                <p class="my-0 small"><strong>Taxi Price : £{{ item.taxi_price | floatformat:2 }}</strong></p> 
                            {% endif %}
                            <p class="my-0 small"><strong>Sub Total: £{{ item.sub_total | floatformat:2 }}</strong></p>
                            <hr>                               
                        </div>
                    </div>
                {% endfor %}
                <p class="my-0 small text-right"><strong>Grand Total: £{{ grand_total | floatformat:2 }}</strong></p>
                <a href="{% url 'properties' %}">Continue Shopping</a>
                <br>
                <a href="{% url 'properties' %}">View Cart</a>
            </div>
        {% endif %}
    </div>
</div>